<div class="container text-center">
  <form [formGroup]="formUser" (ngSubmit)="submitForm()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Digite seu nome completo</mat-label>
        <input
          matInput
          placeholder="Digite aqui"
          formControlName="nome"
          required
        />
        <mat-error *ngIf="formUser.get('nome')?.hasError('required')"
          >Este campo é obrigatório</mat-error
        >
        <mat-error *ngIf="formUser.get('nome')?.hasError('minlength')"
          >Este campo deve ter no mínimo 3 caracteres</mat-error
        >
        <mat-error *ngIf="formUser.get('nome')?.hasError('maxlength')"
          >Este campo deve ter no máximo 50 caracteres</mat-error
        >
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Digite seu e-mail</mat-label>
      <input
        matInput
        placeholder="example@email.com"
        formControlName="email"
        required
      />
      <mat-error *ngIf="formUser.get('email')?.hasError('required')"
        >Este campo é obrigatório</mat-error
      >
      <mat-error *ngIf="formUser.get('email')?.hasError('email')"
        >Digite um e-mail válido</mat-error
      >
    </mat-form-field>

    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Digite sua senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="senha"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="formUser.get('senha')?.hasError('required')"
          >Este campo é obrigatório</mat-error
        >
        <mat-error *ngIf="formUser.get('senha')?.hasError('minlength')"
          >Este campo deve ter no mínimo 6 caracteres</mat-error
        >
        <mat-error *ngIf="formUser.get('senha')?.hasError('maxlength')"
          >Este campo deve ter no máximo 20 caracteres</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field class="" appearance="outline">
        <mat-label>Confirme sua senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmacaoSenha"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="formUser.get('confirmacaoSenha')?.hasError('required')"
          >Este campo é obrigatório</mat-error
        >
        <mat-error
          *ngIf="formUser.get('confirmacaoSenha')?.hasError('minlength')"
          >Este campo deve ter no mínimo 6 caracteres</mat-error
        >
        <!-- <mat-error
          *ngIf="formUser.get('confirmacaoSenha')?.hasError('MatchPassword')"
          >Senhas tem que ser iguais</mat-error
        > -->
        <mat-error
          *ngIf="formUser.get('confirmacaoSenha')?.hasError('maxlength')"
          >Este campo deve ter no máximo 20 caracteres</mat-error
        >
      </mat-form-field>
    </div>

    <div class="d-grid gap-2 col-6 btn-center">
      <button
        mat-raised-button
        color="primary"
        class="btn-default"
        [disabled]="formUser.invalid"
      >
        Cadastrar
      </button>
    </div>
  </form>
</div>
