<div class="container text-center">
  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Digite seu nome completo</mat-label>
      <input matInput placeholder="Digite aqui" [formControl]="name" required />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Digite seu e-mail</mat-label>
    <input
      matInput
      placeholder="example@email.com"
      [formControl]="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <div class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Digite sua senha</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="" appearance="outline">
      <mat-label>Confirme sua senha</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="d-grid gap-2 col-6 btn-center">
    <button mat-raised-button color="primary" [disabled]="!getErrorMessage()">
      Cadastrar
    </button>
  </div>
</div>
