.form-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

mat-form-field {
  width: 50%;
}

.btn-center {
  position: relative;
  left: 25%;
}

.btn-default {
  height: 47px;
  border-radius: 7px;
}
